* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #111;
}

div{
  width: 250px;
  
  text-align: center;
  margin: 250px auto;
  
}

/* div {

  margin: 200px auto;
  width: 30%;
  padding: 10px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: #FFF;
  box-shadow: 0 0 5px #FFF;
  text-align: center;
} */

h1 {
  font-family: 'Courier New', Courier, monospace;
  margin-top: 20px;
  color: white;
}

button {
  width: 80px;
  padding: 10px;
  border: none;
  outline: none;
  font-family: 'Segoe UI';
  font-size: 1.1em;
  font-weight: bold;
  transition: all .5s;
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  background-color: #a1c0d1;
}

button:active {
  background-color: #111;
}

.bg-green {
  background-color: #5ea737;
}

.bg-yellow {
  background-color: #e9d118;
}

.bg-red {
  background-color: #ee0d0d;
}